form {
    display: flex;
    flex-direction: row;
}

mat-form-field{
    margin-right: 1.2rem;
}

/* Change autocomplete styles in WebKit */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus {
  -webkit-text-fill-color: white;
  transition: background-color 5000s ease-in-out 0s;
}

input {
    background: transparent !important;
    color: white;
}

mat-card{
    margin-bottom: 0.3rem;
}

