/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }

body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background: rgb(179, 168, 168); }

.red {
    color:rgb(277, 94, 107);
}

.v-middle{
    vertical-align: middle;
}

.msg-success {
    background-color: #28a745;
    color: white;
}

.msg-error {
    background-color: red;
    color: white;
}

button.save {
    margin-right: 0.3rem;
}

:root {
    --background-color: rgb(179, 168, 168);
    --border-gray-color: rgb(19, 19, 19);
    --font-title-size: 18px;
    --font-subtitle-size: 1rem;
    --font-paragrafo-size: 14px;
    --font-black-color: black;
}